{% extends 'base.html' %}
{% block content %}
<div class="container">

  <h1>Welcome to Sam's Calculator</h1>
  <p>
    <form class="form-inline" method="GET">
      {% csrf_token %}
      <div class="form-group">
        <input type="number" class="form-control" name="number1" placeholder="First Number">
      </div>
        <select class="" name="functions">
          <option value="+" selected> + </option>
          <option value="-"> - </option>
          <option value="*"> * </option>
          <option value="/"> / </option>
        </select>
      <div class="form-group">
        <input type="number" class="form-control" name="number2" placeholder="Second Number">
      </div>
      <button type="submit" class="btn btn-default">Calculate</button>
    </form>
  </p>
  <p>
    {% if function != 0 %}
      {{ number1 }}{{ function }}{{ number2 }} = {{ answer }}
    {% endif %}
  </p>
</div>
{% endblock %}
