{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
  body {
    background-color: #000000;
    color: #ff7800;
    text-align: center;
  }
</style>
  </head>
  <body>
    <div class="container">

      <h1>Welcome to Sam's Calculator</h1>
      <p>
        <form class="form-inline" method="GET">
          {% csrf_token %}

          <div class="form-group">
            <label for="first_number">First Number</label>
            <input type="number" class="form-control" name="number1" placeholder="#">
          </div>
            <select class="" name="functions">
              <option value="" selected>Functions</option>
              <option value="+"> + </option>
              <option value="-"> - </option>
              <option value="*"> * </option>
              <option value="/"> / </option>
            </select>
          <div class="form-group">
            <label for="second_number">Second Number</label>
            <input type="number" class="form-control" name="number2" placeholder="#">
          </div>
          <button type="submit" class="btn btn-default">Calculate</button>
        </form>
      </p>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <p>
        {% if function != 0 %}
          {{ number1 }}{{ function }}{{ number2 }} = {{ answer }}
        {% endif %}
      </p>
    </div>
  </body>
</html>
